<div class="container">
  <div class="page-header">
    <h1>Epicodus Students <small>sign-in</small></h1>
  </div>

  <div class="text-center">
    <% @students.each do |student| %>
      <p><a href="/<%= student.name %>"><%= student.name %></a></p>
    <% end %>
  </div>

  <%= render('layouts/errors', :object => @student) %>

  <h4>Add a student</h4>
  <form action="/students" method="post">
    <%= render('form') %>
    <button class="btn btn-primary">Add</button>
  </form>
</div>
