<label for="lesson_name">Name of Lesson</label>
<input id="lesson_name" name="lesson[name]" type="text" value="<%= @lesson.name %>">
<label for="lesson_number">Lesson Number</label>
<input id="lesson_number" name="lesson[number]" type="text" value="<%= @lesson.number %>">
